// 重置
@import "~@fekit/mc-base";
@import "~@fekit/mc-tinting/theme/mc-tinting@theme=vscode";

html {
  text-align: center;
  background: #f5f5f5;
  font-size: 14px;
}

body {
  text-align: left;
  line-height: 1.5;
}

pre {
  font-size: 12px;
  line-height: 1.5;
}

#content {
  opacity: .5;
}

#input {
  width: 100%;
  border: 1px solid #dfdfdf;
  margin-bottom: 1em;
}

#textarea {
  width: 100%;
  border: 1px solid #dfdfdf;
}

#checkbox {
  width: 1em;
  height: 1em;
  border: 1px solid #999;
  vertical-align: middle;
  position: relative;
  top: -1px;

  &:checked {
    background: #59d269;
    border: 1px solid #349c45;
  }
}


#lists {
  & {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
  }

  &[data-state="true"] {
    opacity: 1;
    pointer-events: all;
  }
}

h6 {
  margin-bottom: .5em;
  opacity: .5;
}

hr {
  border-bottom: 1px solid #999;
}

#div2 {
  background: #f8f8f8;
  border-radius: .2rem;
}


.show-demo {
  padding: 2rem;
  background: #fafafa;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, .05);
}


.com-box {
  max-width: 600px;
  background: #fff;
  padding: 2rem;
  margin: 2% auto;

}

#div7,#div8{
  display: none;
}

[data-show="1"] #div7{
  display: block;
}

[data-show="2"] #div8{
  display: block;
}